multirun
outputs
data/*
files
__pycache__*
*.pyc
*.pyo
wandb
models
checkpoints*
model.txt
.vscode/*
.ARGO_ENV_GPU
ssh_things/*
ploting_graphs/*
*.pdf
*.png
*.csv
runs_data/*
all_scripts/*
workflow/*
set_git.sh